/* --------------------------
   STYLE GLOBAL – PRACTICA SEMANA 9
   -------------------------- */

/* Animación de entrada */
.fadein {
    opacity: 0;
    animation: fadeinAnimation .6s ease forwards;
}

@-webkit-keyframes fadeinAnimation {
    to {
        opacity: 1;
    }
}

@keyframes fadeinAnimation {
    to {
        opacity: 1;
    }
}

/* Tarjetas con hover premium */
.home-card {
    transition: all .25s ease;
    border-radius: 1rem !important;
}

    .home-card:hover {
        transform: translateY(-6px);
        box-shadow: 0 12px 26px rgba(0,0,0,.12);
    }

/* Icon box */
.icon-box {
    width: 65px;
    height: 65px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

/* Botones con animación suave */
.btn {
    transition: 0.2s ease-in-out;
}

    .btn:hover {
        transform: translateY(-2px);
        box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
    }
